:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --todo: #228cd280;
  --inProgress: #cccc1f93;
  --inReview: #e66f1a80;
  --done: #43b53680;
  --border: #9d9d9d;
  --issueBtn: #278118;
  --deleteBtn: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
